<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Task Manager</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>

	<!-- Filtre permettant la sécurisation de l'application par Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<!-- On ne sécurise que nos services ! -->
		<url-pattern>/*.rpc</url-pattern>
	</filter-mapping>

	<!-- Listener permettant de charger le contexte applicatif Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Listener permettant de publier l'ouverture des sessions -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Servlet permettant l'accès aux ressources par WS REST -->
	<servlet>
		<servlet-name>serviceDispatcher</servlet-name>
		<servlet-class>com.pmerienne.taskmanager.server.service.ServiceDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Servlet permettant le data-push avec GWTEventService -->
	<servlet>
		<servlet-name>messagingServlet</servlet-name>
		<servlet-class>com.pmerienne.taskmanager.server.messaging.GWTMessagingServletImpl</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>serviceDispatcher</servlet-name>
		<url-pattern>*.rpc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>messagingServlet</servlet-name>
		<url-pattern>/taskmanager/gwteventservice</url-pattern>
	</servlet-mapping>
	<!-- <servlet> -->
	<!-- <servlet-name>messagingServlet</servlet-name> -->
	<!-- <servlet-class>com.pmerienne.taskmanager.server.messaging.GWTMessagingServletImpl</servlet-class> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>messagingServlet</servlet-name> -->
	<!-- <url-pattern>messagingServlet.msg</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
